<div id="well_info">
	<h3><%= @well.name %></h3>
	<div id="box">
		<p>Date drilled: <%= @well.start_date %></p>
		<p>Date completed: <%= @well.end_date %></p>
		<p>Depth: <%= @well.total_depth %> ft</p>
		<p>Location: <%= @well.location %></p>
		<p>
			<span><a href="/measurements/index">Show Data</a></span>
			<span id="show_chart"><a href="#">Show Chart</a></span>
		</p>
	</div>

	<div id="charts">
		<svg id="col1"></svg>
		<svg id="col2"></svg>
		<svg id="col3"></svg>
		<svg id="col4"></svg>
	</div>
		
</div>